h2 Add a new place

label(for='address') Stock:
select(ng-model='form.stock_id', name='stock_id')
    option(ng-repeat='place in places') {{place.stock_id}}
br
label(for='address') User ID:
select(ng-model='form.user_id', name='user_id')
    option(ng-repeat='user in users') {{user.user_id}}
br
label(for='rating_id') rating_id:
input(ng-model='form.rating_id', name='rating_id')
br
label(for='description') description:
input(ng-model='form.description', name='description')
br
label(for='rating') rating:
input(ng-model='form.rating', name='rating')
br
label(for='reference') reference:
input(ng-model='form.reference', name='reference')
br
label(for='start_date') start_date:
input(ng-model='form.start_date', name='start_date')
br
label(for='end_date') end_date:
input(ng-model='form.end_date', name='end_date')

p
    button(ng-click='addRatingForPlace()') Add Rating
