h2 Add a new Stock

label(for='stock_id') stock_id:
input(ng-model='form.stock_id', name='stock_id')
br
label(for='name') name:
input(ng-model='form.name', name='name')
br
p
   button(ng-click='addStock()') Add Stock