div(class="row")
    form(role="form")
        h2 Add a new user
        div(class="col-md-4")
            div(class="form-group")
                label(for='user_id') User id:
                input(type='text',class="form-control",ng-model='form.user_id', id='user_id',placeholder="User id")
            div(class="form-group")
                label(for='user_name') User name:
                input(type='text',class="form-control",ng-model='form.user_name', id='user_name',placeholder="User name")
            div(class="form-group")
                label(for='ancienity') Ancienity:
                input(type='text',class="form-control",ng-model='form.ancienity', id='ancienity',placeholder="Ancienity")
            div(class="form-group")
                label(for='address') Address:
                input(type='text',class="form-control",ng-model='form.address', id='address',placeholder="Address")
            div(class="form-group")
                label(for='city') City:
                input(type='text',class="form-control",ng-model='form.city', id='city',placeholder="City")
            div(class="form-group")
                label(for='country') Country:
                input(type='text',class="form-control",ng-model='form.country', id='country',placeholder="Country")
            div(class="form-group")
                button(class="btn btn-default", ng-click='addUser()') Add User