div(class="row")
    div(ng-repeat='stock in stock')
        h3  {{stock.name}}
         small [{{stock.stock_id}}]
        a(href='#/addRating/{{stock.stock_id}}') Add Rating


    div(class="panel panel-default")
        <!-- Default panel contents -->
        div(class="panel-heading") Ratings
        div(class="panel-body")
            p There are {{results.length}} ratings for that stock in the system!

        <!-- Table -->
        table(class="table")
            thead
                tr
                    th Stock id
                    th Description
                    th User id
                    th Start date
                    th End date
            tbody
                tr(ng-repeat='rating in results')
                    td {{rating.stock_id}}
                    td {{rating.description}}
                    td
                        a(href='#/getUserByID/{{rating.user_id}}') {{rating.user_id}}
                    td {{rating.start_date}}
                    td {{rating.end_date}}