p There are {{results.length}} places in the system!

div(ng-repeat='stock in stocks')
    h3   {{stock.name}}
    a(href='#/getRatingByStockID/{{stock.stock_id}}') Get Ratings For {{stock.name}}

    br