div(class="row")
    h4 Stocks
    p There are {{stocks.length}} stocks in the system!
    div(class="table-responsive")
        table(class="table table-striped")
            thead
                tr
                    th Name
                    th Ratings
            tbody
                tr(ng-repeat='stock in stocks')
                    td
                        a(href='#/getRatingByStockID/{{stock.stock_id}}') {{stock.name}}
                    td {{stock.stock_id}}