div(class="row")
    div
        h3  {{user[0].user_name}}
    br
    br
    h3 Ratings
    p There are {{results.length}} ratings from this user in the system!
    br
    div(ng-repeat='rating in results')
        h5 Rating {{$index+1}}. {{rating.place_name}}
        div {{rating.description}}
        div {{rating.date}}
        br