extends layout

block content

    script(src='javascripts/lib/angular-1.2.5/angular.js')
    script(src='javascripts/lib/angular-1.2.5/angular-route.js')
    script(src='javascripts/lib/bootstrap-gh-pages/ui-bootstrap-tpls-0.10.0.min.js')
    script(src='http://code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js')
    script(src='javascripts/app.js')
    script(src='javascripts/controllers/ratingController.js')
    script(src='javascripts/controllers/homeController.js')
    script(src='javascripts/controllers/stockController.js')
    script(src='javascripts/controllers/userController.js')
    script(src='javascripts/services.js')
    script(src='javascripts/filters.js')
    script(src='javascripts/directives.js')

    nav(class='navbar navbar-default navbar-fixed-top')
        div(class='navbar-header')
            button(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(class="navbar-brand", href="#") #{title}

        div(class="collapse navbar-collapse")
            ul(class="nav navbar-nav")
                li
                    a(href='#/') Home
                li
                    a(href='#/getAllStocks/') Get All Stocks
                li
                    a(href='#/getUserList') Get User List
                li
                    a(href='#/addStock') Add Stock
                li
                    a(href='#/addUser') Add User

            form(class="navbar-form navbar-left",role="form",ng-controller="SearchForStockCtrl")
                div(class="form-group")
                    input(type="text",ng-model='searchtext', class="form-control",placeholder="Hvad vil du?", bs-typeahead,
                        typeahead-on-select="shiftToResult($item)", typeahead="stock.stock_id + ', ' + stock.name for stock in getStock($viewValue) | filter:$viewValue | limitTo:8")
                button(type="submit",class=" btn btn-default", ng-click='searchForPlace()') Find aktie
            ul(class="nav navbar-nav navbar-right")
                li(ng-show='facebook_user_name')
                    p(class="navbar-text") {{facebook_user_name}}
                li(ng-show='DisplayFacebookLogin')
                    a(id='fb-login', class="fb-login",href="/auth/facebook") Log på med Facebook
                li(ng-show='DisplayLoggedIn')
                    a(href='#/getUserByID/{{facebook_user}}',class="facebook-loggedin")
                        img(src='https://graph.facebook.com/{{facebook_user}}/picture')
    br
    br
    div(class="container-fluid",ng-view)
    div(id="fb-root")

