extends layout

block content

    script(src='javascripts/lib/angular-1.2.5/angular.js')
    script(src='javascripts/lib/angular-1.2.5/angular-route.js')
    script(src='javascripts/lib/bootstrap-gh-pages/ui-bootstrap-0.7.0.js')
    script(src='javascripts/lib/bootstrap-gh-pages/ui-bootstrap-tpls-0.7.0.js')
    script(src='http://code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js')
    script(src='javascripts/app.js')
    script(src='javascripts/controllers/ratingController.js')
    script(src='javascripts/controllers/homeController.js')
    script(src='javascripts/controllers/stockController.js')
    script(src='javascripts/controllers/userController.js')
    script(src='javascripts/services.js')
    script(src='javascripts/filters.js')
    script(src='javascripts/directives.js')

    nav(class='navbar navbar-default navbar-fixed-top')
        div(class='navbar-header')
            button(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")

        div(class="collapse navbar-collapse",id="bs-example-navbar-collapse-1")
            ul(class="nav navbar-nav")
                li
                    a(class="navbar-brand", href="#") #{title}
                li
                    a(href='#/') Home
                li
                    a(href='#/getAllStocks/') Get All Stocks
                li
                    a(href='#/getUserList') Get User List
                li
                    a(href='#/addStock') Add Stock
                li
                    a(href='#/addUser') Add User

            div(class="form-group",ng-controller="SearchForStockCtrl")
                input(type="text",ng-model='form.searchtext', class="form-control",placeholder="Hvad vil du?", bs-typeahead='typeaheadPlaceSearch', typeahead-on-select="shiftToResult()", typeahead="stock.stock_id + ', ' + stock.name for stock in stocks | filter:$viewValue | limitTo:8")
            button(type="submit",class="btn btn-default", ng-click='searchForPlace()') Find aktie

            a(href="/auth/facebook")
                button(id='fb-login', class="fb-login", type="button", ng-show='DisplayFacebookLogin') Log på med Facebook
            //a(href="/auth/facebook") Login with Facebook
            a(href='#/getUserByID/{{facebook_user}}',class="facebook-loggedin")
                img(src='https://graph.facebook.com/{{facebook_user}}/picture',ng-show='DisplayLoggedIn')
    br
    br
    div(id="mainWrapper",ng-view)
    div(id="fb-root")

