body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mainWrapper{
    margin-top: 10px;
}

/*NAVBAR*/

.navbar .facebook-loggedin{
    padding: 5px 15px 5px 15px;
}

.navbar .facebook-loggedin img{
    height: 40px;
    border-radius: 20px;
}

.navbar button{
    margin: 0 0 0 10px;
}
